.search-result-container {
  padding: 20px 0;
  
  .filter {
    width: 100%;

    .filter-item {
      margin-top: 10px;
      margin-bottom: 30px;
      select {
        width: 80%;
      }
      .bordered-container {
        padding: 10px 30px;
        border: 1px solid gray;
        border-radius: 2px;
        width: 80%;
      }
      .price-range {
        width: 80%;
        .price-value{
          width: 100% !important;
          justify-content: space-between !important;
          display: flex !important;
          align-items: center !important;
          margin-top: 10px !important;
          margin-bottom: 10px !important;
        }
        .input-values {
          display: flex;
          justify-content: space-between;
          width: 100%;
          
          div.splitter {
            // padding: 0 10px;
            width: 2%;
          }
          div {
            display: flex;
            justify-content: space-between;
            label.left {
              margin-bottom: 0 !important;
              margin-top: 2px;
            }
            input {
              width: 100%;
            }
          }
        }
      }

      .reset-button {
        border-radius: 4px;
      }
    }
  }

  .result-container {
    width: calc(100% - 300px);
    .header {
      display: flex;
      justify-content: space-between;
    }
    .footer {
      text-align: center;
      padding: 30px;
      margin-top: 30px;
      float: right;
    }
  }
}